<!DOCTYPE html>
<!--<html lang="en">-->

<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="./fragments/header.html :: fragment-header"></div>
</head>

<body>
<!-- Spinner Start -->
<div th:replace="./fragments/spinner.html :: fragment-spinner"></div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div th:replace="./fragments/topbar.html :: fragment-topbar"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="./fragments/nav.html :: fragment-nav"></div>
<!-- Navbar End -->



<!-- 마이페이지 Start -->
<!-- <div class="container-xxl py-5">
    <div class="container">

        <br><br>
        <table class="table">
            <p>모든 게시글 </p>
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">맛집1줄소개</th>
                <th scope="col">작성자 (유저)</th>
                <th scope="col">사진</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board , i : ${foodBoards}">
                <th th:text="${i.count}"></th>
                <th><a th:text="${board.getTitle()}" th:href="@{/myPage/foods/{id}(id=${board.getId()})}"></a></th>
                <th th:text="${board.getPreview()}"></th>
                <th th:text="${board.getUser().getNickname()}"></th>
                <th><img th:each="imageFile : ${board.attachedFiles}"
                         th:src="@{/images/{imageFile}(imageFile=${imageFile.storeFilename})}" width="300" height="300" style="margin-right: 5px"/>
                </th>
            </tr>
        </table>
        -->


    <!-- Admin 마이페이지 Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <!-- 제목 / 소제목 -->
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-primary">관리자 페이지</h6>
                <h1 class="mb-4">게시글 관리</h1>
            </div>

            <form th:object="${user}">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="name">이름</label>
                            <p  class="form-control" id="name" th:text="*{name}"></p>
                            <!--                    <input type="text" id="name" class="form-control form-control-lg" />-->
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="form-outline">
                            <label class="form-label" for="Email">이메일</label>
                            <p  class="form-control" id="Email" th:text="*{email}"></p>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="form-outline">
                            <label for="role" class="form-label">권한</label>
                            <p  class="form-control" id="role" th:text="*{role.getAuthority()} == 'ROLE_USER' ? '일반 사용자' : '관리자' "></p>
                        </div>
                    </div>
                </div>
                <!--관리자는 User와 달리 탈퇴 할 수 있는 버튼이 없다.-->
            </form>


            <hr/>
            <!-- 관리자 게시글 관리_게시판 Start -->
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <div class="container">
                        <form th:action="@{/myPage/foods/{id}(id=${id})}" th:object="${foodBoardPostFormDto}" method="post" enctype="multipart/form-data" >

                            <div class="portfolioContainer">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3 col-md-4 webdesign illustrator" th:each="board , i : ${foodBoards}">
                                        <div class="gal-detail thumb">
                                            <a href="#" class="image-popup" title="Screenshot-1">
                                                <!--                                    <img src="https://via.placeholder.com/400x280/00BFFF/000000" class="thumb-img" alt="work-thumbnail">-->
                                                <img th:each="imageFile : ${board.attachedFiles.size() == 0 ? null : board.attachedFiles.get(0)}"
                                                     th:src="@{/images/{imageFile}(imageFile=${imageFile.storeFilename})}" width=250px, height=180px style="min-height:140px;  margin-right: 5px"/>

                                            </a>
                                            <div style="padding: 10px">
                                                <a th:text="${board.getTitle()}" th:href="@{/myPage/foods/{id}(id=${board.getId()})}"></a>
                                                <hr/>
                                                <p class="text-muted text-center" th:text="${board.getPreview()}"><small></small></p>
                                                <hr>
                                                <p class="text-muted text-center" th:text="'작성자 : ' + ${board.getUser().getName()}"><small></small></p>
                                                <!--                                <form th:action="@{/myPage/foods/{id}(id=${id})}" th:object="${foodBoardPostFormDto}" method="post" enctype="multipart/form-data" >-->
                                                <!--                                </form>-->
                                                <!--                                <a style="padding: 5px" type="button" class="btn btn-primary" th:href="@{/myPage/foods/{id}(id=${board.getId()})}">수정</a>-->
                                                <!--                                <a style="padding: 5px" type="button" class="btn btn-primary" th:href="@{/foodForm}">삭제</a>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 마이페이지 게시판 End -->
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div> <!-- 마이페이지 End -->




        <!-- Footer Start -->
        <footer th:replace="./fragments/footer.html :: fragment-footer"></footer>
        <!-- Footer End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script th:src="@{/lib/wow/wow.min.js}"></script>
        <script th:src="@{/lib/easing/easing.min.js}"></script>
        <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
        <script th:src="@{/lib/counterup/counterup.min.js}"></script>
        <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
        <script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
        <script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>

        <script th:src="@{js/extention/choices.js}"></script>

        <!-- Template Javascript -->
        <script th:src="@{/js/main.js}"></script>
    </div>
</div>
</body>


</html>


