<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="./fragments/header.html :: fragment-header"></div>
    <style>
        .left-text {

            float: left;
        }
        .right-text {

            float: right;
        }
    </style>
</head>

<body>
<!-- Spinner Start -->
<div th:replace="./fragments/spinner.html :: fragment-spinner"></div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div th:replace="./fragments/topbar.html :: fragment-topbar"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="./fragments/nav.html :: fragment-nav"></div>
<!-- Navbar End -->

<div class="container-xxl py-5">
    <div class="container">
        <!-- 제목 / 소제목 -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary" th:text="${session.user.role.getAuthority()} == 'ROLE_USER' ? '내가 쓴 게시물' : '사용자가 쓴 게시물'">내가 쓴 게시물</h6>
            <h1 class="mb-4" th:text="${session.user.role.getAuthority()} == 'ROLE_USER' ? '맛집 정보 수정' : '맛집 게시글'" >맛집 수정</h1>
        </div>
        <div class="container"><!--FoodBoardPostFormDto 가 넘겨져서 왔다. -->

            <!-- th:action="@{/myPage/foods/{id}(id=${FoodBoardShowDto.getId()})}" -->

            <form th:action="@{/myPage/foods/{id}(id=${id})}" th:object="${foodBoardPostFormDto}" method="post" enctype="multipart/form-data" >
                <input type="hidden" name="_method" value="put"/>
                <div class="form-group">
                    <label >제목</label>
                    <div class="form-floating mb-3" >
                        <input  type="text" th:field="*{title}" class="form-control" id="title" th:readonly="${session.user.role.getAuthority()} == 'ROLE_ADMIN' ? 'readonly':'false'">
                    </div>
                </div>

                <div class="form-group">
                    <label >한줄 소개</label>
                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{preview}" class="form-control" id="preview" th:readonly="${session.user.role.getAuthority()} == 'ROLE_ADMIN' ? 'readonly':'false'">
                    </div>
                </div>

                <div class="form-group">
                    <label >등록한 사진들</label>
                    <div class="form-floating mb-3">
                        <img th:each="imageFile : ${attachedFiles}"
                             th:src="@{/images/{imageFile}(imageFile=${imageFile.storeFilename})}" width="300" height="300" style="margin-right: 5px"/>
                    </div>
                </div>


                <div class="form-group">
                    <label >새롭게 사진 첨부하기</label>
                    <div class="form-floating mb-3"> <!--list 로 잘 받을 수 있을지 의문이고, 그리고 파일 list는 애초에 담지 X -->
                        <input type="file" class="form-control" id="imageFiles" th:field="*{imageFiles}" multiple="multiple" >
                    </div>
                </div>


                <div class="form-group">
                    <label>맛집 위치 지역 선택</label>
                    <select class="form-select" th:field="*{locationType}" th:disabled=" ${session.user.role.getAuthority()} == 'ROLE_ADMIN' ? 'disabled':'false' ">
                        <option value=""> 선택 </option>
                        <option th:each="val : ${locationTypeList}"
                                th:value="${val.id}"
                                th:text="${val.type}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label>맛집 음식 유형 선택</label>
                    <select class="form-select"  th:field="*{foodType}" th:disabled=" ${session.user.role.getAuthority()} == 'ROLE_ADMIN' ? 'disabled':'false' ">
                        <option value=""> 선택 </option>
                        <option th:each="val : ${foodTypeList}"
                                th:value="${val.id}"
                                th:utext="${val.type}"></option>
                    </select>
                </div>


<!--                <div class="form-group">-->
<!--                    <label >주소</label>-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input type="text" th:field="*{address}" class="form-control" id="address" >-->
<!--                    </div>-->
<!--                </div>-->


                <div class="col-12 col-sm-6">
                    <br>
                    <label >식당 도로명 주소</label>
                    <input type="text" class="form-control border-0" id="address" name="comm_address"  placeholder="식당 도로명 주소"
                           th:field="*{address}"
                           style="height: 55px; display: inline-flex; margin-right: 10px; width: 83%;" readonly>

                    <button class="btn btn-outline-success btn-sm py-3 px-4" id="adBtn" onclick="Postcode()" type="button"
                            placeholder="주소 검색" style="position: absolute">주소검색
                    </button>

                </div>



                <div class="form-group">
                    <label >상세주소</label>
                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{addressDetail}" class="form-control" id="detail_address" th:readonly="${session.user.role.getAuthority()} == 'ROLE_ADMIN' ? 'readonly':'false'">
                    </div>
                </div>

                <div class="form-group">
                    <label >리뷰</label>
                    <div class="form-floating mb-3">
                        <textarea type="text" th:field="*{info}" class="form-control" id="info" th:readonly="${session.user.role.getAuthority()} == 'ROLE_ADMIN' ? 'readonly':'false'"></textarea>
                    </div>
                </div>

              <!--  <div class="form-group">
                    <label >평점 (5점 만점)</label>
                    <div class="form-floating mb-3">
                        <textarea type="text" th:field="*{rate}" class="form-control" id="rate" ></textarea>
                    </div>
                </div> -->

                <div class="col-12">
                    <label>평점(5점 만점)</label>
                    <!--                    <input type="text" class="form-control" id="rate" placeholder="평점" th:field="*{rate}">-->
                    <div class="col-md-4">
                        <div class="input-group spinner">
                            <input type="text" class="form-control" value="0.5" min="0" max="5"id="rate" th:field="*{rate}" readonly>
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div th:if="${session.user.role.getAuthority()}  == 'ROLE_USER' ">
                    <button type="submit" class="btn btn-primary" >게시글 수정</button>
                </div>
            </form>


            <div class="text-end">
                <form style="padding: 5px" id="delete-form" th:action="@{/myPage/foods/{id}(id=${id})}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="btn btn-primary" id="delete-btn" >게시글 삭제</button>
                </form>
            </div>
        </div>

        <div class="text-end" style="padding: 10px">
            <a type="button" class="btn btn-primary" th:href="@{/myPage}">뒤로가기</a>
        </div>

        <!-- 댓글 Start -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container bootdey">
            <div class="col-md-12 bootstrap snippets">
                <div class="form-group">
                    <div class="panel">
                        <div class="panel-body">
                            <br>
                            <p>[댓글 목록]</p>
                            <hr>
                            <!-- Newsfeed Content -->
                            <!--===================================================-->
                            <div class="media-block">
                                <div class="media-body" th:each="cmts ,i : ${foodCmts}">
                                    <div class="mar-btm">
                                        <h2 href="#" class="btn-link text-semibold media-heading box-inline" th:text="${cmts.foodCmt}"></h2>
                                    </div>

                                    <div>
                                        <p th:text="'작성자 : ' + ${cmts.user.nickname}"></p>
                                        <!--admin만 삭제하기 버튼이 나타난다. -->
                                        <div class="text-end" style="padding: 10px" th:if="${session.user.role.getAuthority()}  == 'ROLE_ADMIN' ">
                                            <form th:action="@{/myPage/foods/cmt/{id}(id=${cmts.id})}" th:method="post">
                                                <input type="hidden" name="_method" value="delete"/>
                                                <input type="hidden" id="board" name="board" th:value="${id}"/>
                                                <button type="submit" class="btn btn-primary">삭제하기</button>
                                            </form>
                                        </div>
                                    </div>

                                    <hr>
                                    <!-- Comments -->
                                </div>
                            </div>


                            <!--===================================================-->
                            <!-- End Newsfeed Content -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- 댓글 End -->
        </div>

    </div>
</div>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function Postcode() {
        daum.postcode.load(function () {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = "";
                    if(data.userSelectedType === 'R'){
                        addr = data.roadAddress;
                    }else{
                        addr = data.jibunAddress;
                    }
                    document.getElementById("address").value = addr;
                    document.getElementById("detail_address").value = null;
                    document.getElementById("detail_address").focus();


                }


            }).open();
        });


    }
</script>


<!-- Footer Start -->
<footer th:replace="./fragments/footer.html :: fragment-footer"></footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/score.js}"></script>

</body>

</html>
