<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="fragment-nav">
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a th:href="@{/}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
        <h2 class="m-0 text-primary">CLOUD</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/map}" class="nav-item nav-link">지도</a>
            <a th:href="@{/attractions}" class="nav-item nav-link">명소/여행지</a>
            <a th:href="@{/foods}" class="nav-item nav-link">맛집</a>
            <a th:href="@{/adminPage}" sec:authorize="!isAuthenticated()" class="nav-item nav-link">관리자 페이지</a>


        </div>

    </div>
    <!--    <a href="login.html" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Login<i class="fa fa-arrow-right ms-3"></i></a>-->
    <!--    <a  th:href="@{/login}" sec:authorize="!isAuthenticated()">로그인 및 회원가입하러 가기</a>-->

    <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Login<i class="fa fa-arrow-right ms-3"></i></a>

</nav>
</div>
</html>