
<html lang="kr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>회원가입을 위한 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
    <form action="/join" method="post">
        <input type="text" name="loginId" placeholder="loginId 입력" /><br>
        <input type="password" name="password" placeholder="Password 입력" /><br>
        <input type="text" name="name" placeholder="name 입력" /><br>
        <input type="text" name="nickname" placeholder="nickname 입력" /><br>
        <input type="email" name="email" placeholder="email 입력" /><br>
        <button>회원가입</button>
    </form>


</body>
</html>