<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="./fragments/header.html :: fragment-header"></div>
</head>

<body>

<!-- Spinner Start -->
<div th:replace="./fragments/spinner.html :: fragment-spinner"></div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div th:replace="./fragments/topbar.html :: fragment-topbar"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="./fragments/nav.html :: fragment-nav"></div>
<!-- Navbar End -->


<!-- Signup Start -->
<!--<div class="container py-5 mh-100" style="height: 60vh;">-->
<!--    <div class="container py-5 mh-100" style="height: 60vh;">-->
<!--        <div class="signup-form">-->
<!--            <form action="/join" method="post">-->
<!--                <div class="form-header">-->
<!--                    <h2>회원가입</h2>-->

<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label>Name</label>-->
<!--                    <input type="text" class="form-control" name="name" placeholder="이름 입력" required="required">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Nickname</label>-->
<!--                    <input type="text" class="form-control" name="nickname" placeholder="닉네임 입력" required="required">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label>Id</label>-->
<!--                    <input type="text" class="form-control" name="username" placeholder="loginID 입력" required="required">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Email Address</label>-->
<!--                    <input type="email" class="form-control" name="email" placeholder="이메일 입력" required="required">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Password</label>-->
<!--                    <input type="password" class="form-control" name="password" placeholder="비밀번호 입력" required="required">-->
<!--                </div>-->
<!--                &lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--                &lt;!&ndash;            <label>Confirm Password</label>&ndash;&gt;-->
<!--                &lt;!&ndash;            <input type="password" class="form-control" name="confirm_password" required="required">&ndash;&gt;-->
<!--                &lt;!&ndash;        </div>&ndash;&gt;-->

<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>-->
<!--                </div>-->
<!--            </form>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Signup End-->

<!--<section class="vh-100" style="background-color: #2779e2;">-->
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-xl-9">
                            <h3 class="mb-4" style="text-align: center">회원가입</h3>
                            <form action="/join" method="post">
                                <div class="card-body">

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                            <h6 class="mb-0">Name</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                            <input type="text" class="form-control" name="name" placeholder="이름 입력" required="required">
                                        </div>
                                    </div>
                                    <hr class="mx-n3">
                                    <div class="row align-items-center py-3">
                                        <div class="col-md-3 ps-5">
                                            <h6 class="mb-0">Nickname</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                            <input type="text" class="form-control" name="nickname" placeholder="닉네임 입력" required="required">
                                        </div>
                                    </div>
                                    <hr class="mx-n3">
                                    <div class="row align-items-center py-3">
                                        <div class="col-md-3 ps-5">
                                            <h6 class="mb-0">Id</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                            <input type="text" class="form-control" name="username" placeholder="loginID 입력" required="required">
                                        </div>
                                    </div>
                                    <hr class="mx-n3">
                                    <div class="row align-items-center py-3">
                                        <div class="col-md-3 ps-5">
                                            <h6 class="mb-0">Email Address</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                            <input type="email" class="form-control" name="email" placeholder="이메일 입력" required="required">
                                        </div>
                                    </div>
                                    <hr class="mx-n3">
                                    <div class="row align-items-center py-3">
                                        <div class="col-md-3 ps-5">
                                            <h6 class="mb-0">Password</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                            <input type="password" class="form-control" name="password" placeholder="비밀번호 입력" required="required">
                                        </div>
                                    </div>
                                    <hr class="mx-n3">
                                    <div class="px-5 py-4" style="text-align: center">
<!--                                        <button type="submit" class="btn btn-primary btn-lg" >Submit</button>-->
                                        <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<!--</section>-->


<!-- Footer Start -->
<footer th:replace="./fragments/footer.html :: fragment-footer"></footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
</body>

</html>